.App{
  margin: 10px;
  padding: 20px;
  font-size: large;
  
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f9;
  color: #333;
}


.searchDiv{
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 5px;
}

.searchDiv form{
  display: flex;
  flex-direction: column;
}

.imageList{
  columns:250px 5;
  column-gap: 30px;
  background-color: black;

  flex-wrap: wrap;
  justify-content: center;
  
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}

.imageListImg{
  width: 90%;
  
  margin: 10px;
  
}

.imageList img {
  max-width: 100%;
  border-radius: 10px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.imageList img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.searchDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.searchDiv form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchDiv label {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #333;
}

.searchDiv input {
  padding: 10px;
  width: 300px;
  border: 2px solid #333;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.searchDiv input:focus {
  border-color: #007bff;
}
